<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <span class="dashboard-name">TrackPro - Work smarter</span>
   
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
        <button mat-button class="menu-button" routerLink="/home">
            <mat-icon>home</mat-icon>
            <span>Pocetna</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['/user-details', (currentUser$ | async).appUserId]">
            <mat-icon>person</mat-icon> 
            <span>Profil</span>
        </button>
        <button mat-button class="menu-button" routerLink="/users">
            <mat-icon>people</mat-icon>
            <span>Clanovi</span>
        </button>
        <button mat-button class="menu-button" routerLink="/payments">
            <mat-icon>payment</mat-icon>
            <span>Uplate</span>
        </button>
        <button mat-button class="menu-button" routerLink="/activity">
            <mat-icon>card_travel</mat-icon>
            <span>Dodatne uplate</span>
        </button>
        <mat-divider></mat-divider>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                <button mat-button class="menu-button" routerLink="" value= {{node.id}}>
                    <mat-icon>group_work</mat-icon>
                    <span> {{node.name}}</span>
                </button>
            </mat-tree-node>
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                <div class="mat-tree-node">
                  <button mat-icon-button matTreeNodeToggle
                          [attr.aria-label]="'Toggle ' + node.name"
                          >
                    <mat-icon>
                       {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>
                  <span>{{node.name}}</span>
                </div>
                <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
                    role="group">
                  <ng-container matTreeNodeOutlet></ng-container>
              </div>
            </mat-nested-tree-node>
        </mat-tree>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>About</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
        </button>
    </mat-sidenav>
    <!-- Body -->
    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            <div class="col-xl-12">
                <router-outlet></router-outlet> 
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
