<div mat-dialog-title>
    <h1>Nova uplata</h1>
</div>
<form [formGroup]="newPayment" (ngSubmit)="onPaymentSubmit()">
    <div mat-dialog-content class="content" >
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Svrha placanja</mat-label>
                    <mat-select formControlName="purpose">
                            <mat-option value="Clanarina" selected>Clanarina</mat-option>
                            <mat-option value="Mekteb">Mekteb</mat-option>
                            <mat-option value="Ostalo">Ostalo</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Iznos</mat-label>
                    <input matInput placeholder="Iznos" formControlName="amount">
                    <span matTextPrefix>&#8364;</span>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-label>Nacin placanja</mat-label>
                    <mat-select formControlName="paymentMethod">
                            <mat-option value="Uplatnica">Uplatnica</mat-option>
                            <mat-option value="Online">Online</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Mjesec</mat-label>
                    <mat-select  formControlName="month">
                            <mat-option value="Januar">Januar</mat-option>
                            <mat-option value="Februar">Februar</mat-option>
                            <mat-option value="Mart">Mart</mat-option>
                            <mat-option value="April">April</mat-option>
                            <mat-option value="Maj">Maj</mat-option>
                            <mat-option value="Juni">Juni</mat-option>
                            <mat-option value="Juli">Juli</mat-option>
                            <mat-option value="August">August</mat-option>
                            <mat-option value="Septembar">Septembar</mat-option>
                            <mat-option value="Oktobar">Oktobar</mat-option>
                            <mat-option value="Novembar">Novembar</mat-option>
                            <mat-option value="Decembar">Decembar</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-label>Semestar</mat-label>
                    <mat-select>
                            <mat-option value="semestar 1">I Semestar</mat-option>
                            <mat-option value="semestar 2">II Semestar</mat-option>
                            <mat-option value="ostalo">Obicna uplata</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Napomene</mat-label>
                    <textarea matInput value="2" placeholder="Napomene"></textarea>
                </mat-form-field> 
            </div>
        </div>
    </div>
    <mat mat-dialog-actions align="end" class="me-5">
        <button mat-stroked-button mat-dialog-close (click)="closeDialog()">Close</button>
        <button mat-flat-button color="primary" type="submit">Add</button>
    </mat>
</form>
