<div mat-dialog-title>
    <h1>Nova uplata</h1>
</div>
<form>
    <div mat-dialog-content class="content">
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Svrha placanja</mat-label>
                    <mat-select>
                            <mat-option value="clanarina" selected>Clanarina</mat-option>
                            <mat-option value="mekteb">Mekteb</mat-option>
                            <mat-option value="ostalo">Ostalo</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Iznos</mat-label>
                    <input matInput placeholder="Iznos" formControlName="iznos">
                    <span matTextPrefix>&#8364;</span>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-label>Nacin placanja</mat-label>
                    <mat-select [(value)]="selected">
                            <mat-option value="uplatnica">Uplatnica</mat-option>
                            <mat-option value="online">Online</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Mjesec</mat-label>
                    <mat-select [(value)]="selected">
                            <mat-option value="januar">Januar</mat-option>
                            <mat-option value="februar">Februar</mat-option>
                            <mat-option value="mart">Mart</mat-option>
                            <mat-option value="april">April</mat-option>
                            <mat-option value="maj">Maj</mat-option>
                            <mat-option value="juni">Juni</mat-option>
                            <mat-option value="juli">Juli</mat-option>
                            <mat-option value="august">August</mat-option>
                            <mat-option value="septembar">Septembar</mat-option>
                            <mat-option value="oktobar">Oktobar</mat-option>
                            <mat-option value="novembar">Novembar</mat-option>
                            <mat-option value="decembar">Decembar</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-label>Semestar</mat-label>
                    <mat-select [(value)]="selected">
                            <mat-option value="1">I Semestar</mat-option>
                            <mat-option value="2">II Semestar</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Napomene</mat-label>
                    <textarea matInput placeholder="Napomene"></textarea>
                </mat-form-field> 
            </div>
        </div>
    </div>
    <mat mat-dialog-actions align="end" class="me-5">
        <button mat-stroked-button>Close</button>
        <button mat-flat-button color="primary" type="submit">Add</button>
    </mat>
</form>
