<div mat-dialog-title>
    <h1>Nova uplata</h1>
</div>
<form [formGroup]="newPayment" (ngSubmit)="onPaymentSubmit()">
    <div mat-dialog-content class="content" >
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Svrha placanja</mat-label>
                    <mat-select formControlName="purpose">
                            <mat-option value="1" selected>Clanarina</mat-option>
                            <mat-option value="2">Mekteb</mat-option>
                            <mat-option value="3">Ostalo</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Iznos</mat-label>
                    <input matInput placeholder="Iznos" formControlName="amount">
                    <span matTextPrefix>&#8364;</span>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-label>Nacin placanja</mat-label>
                    <mat-select [(value)]="selected" formControlName="paymentMethod">
                            <mat-option value="1">Uplatnica</mat-option>
                            <mat-option value="2">Online</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Mjesec</mat-label>
                    <mat-select [(value)]="selected" formControlName="month">
                            <mat-option value="1">Januar</mat-option>
                            <mat-option value="2">Februar</mat-option>
                            <mat-option value="3">Mart</mat-option>
                            <mat-option value="4">April</mat-option>
                            <mat-option value="5">Maj</mat-option>
                            <mat-option value="6">Juni</mat-option>
                            <mat-option value="7">Juli</mat-option>
                            <mat-option value="8">August</mat-option>
                            <mat-option value="9">Septembar</mat-option>
                            <mat-option value="10">Oktobar</mat-option>
                            <mat-option value="11">Novembar</mat-option>
                            <mat-option value="12">Decembar</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-label>Semestar</mat-label>
                    <mat-select [(value)]="selected">
                            <mat-option value="1">I Semestar</mat-option>
                            <mat-option value="2">II Semestar</mat-option>
                            <mat-option value="3">Obicna uplata</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" >
                    <mat-label>Napomene</mat-label>
                    <textarea matInput value="2" placeholder="Napomene"></textarea>
                </mat-form-field> 
            </div>
        </div>
    </div>
    <mat mat-dialog-actions align="end" class="me-5">
        <button mat-stroked-button mat-dialog-close (click)="closeDialog()">Close</button>
        <button mat-flat-button color="primary" type="submit">Add</button>
    </mat>
</form>
