<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">person_pin</mat-icon>
       Members info
      </ng-template>
      <div class="row mt-3 ms-2">
        <div class="col border border-light shadow-sm p-3 mb-5 bg-body rounded">
            <h4>Members Info</h4>
            <form [formGroup]="memberDetail" (ngSubmit)="onClickSubmit()">
                <div class="content">
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input matInput type="text" placeholder="First Name" formControlName="firstName">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="Last Name" formControlName="lastName" value="Malkoc">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline">
                                <mat-label>Title</mat-label>
                                <input matInput type="text" placeholder="Title" formControlName="title" value="BA">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Date of birth</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Adress</mat-label>
                                <input matInput placeholder="Adress" formControlName="adress" value="Grillweg 7b">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-radio-group aria-label="Select please:" formControlName="gender">
                                <mat-label>Gender:</mat-label>
                                <mat-radio-button value="Male" checked="true">Male</mat-radio-button>
                                <mat-radio-button value="Female">Female</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput type="email" placeholder="Ex. test@gmail.com" formControlName="email" value="bakir.malkoc@gmail.com">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline">
                                <mat-label>Phone</mat-label>
                                <input matInput type="text" placeholder="+43..." formControlName="phone" value="06645162656">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Select Country</mat-label>
                                <mat-select formControlName="country">
                                  <mat-option value="Bosnia-Herzegowina" selected>Bosnien-Herzegowina</mat-option>
                                  <mat-option value="Croatien">Croatia</mat-option>
                                  <mat-option value="Albanien">Albania</mat-option>
                                  <mat-option value="Slowenien">Slowenia</mat-option>
                                  <mat-option value="Serbien">Serbien</mat-option>
                                  <mat-option value="Austria">Austria</mat-option>
                                  <mat-option value="Germany">Germany</mat-option>
                                  <mat-option value="Nigeria">Nigeria</mat-option>
                                  <mat-option value="China">China</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Select Nationality</mat-label>
                                <mat-select formControlName="nationality">
                                  <mat-option value="Bosnia-Herzegowina" selected>Bosnien-Herzegowina</mat-option>
                                  <mat-option value="Croatien">Croatien</mat-option>
                                  <mat-option value="Albanien">Albanien</mat-option>
                                  <mat-option value="Slowenien">Slowenien</mat-option>
                                  <mat-option value="Serbien">Serbien</mat-option>
                                  <mat-option value="Austria">Austria</mat-option>
                                  <mat-option value="Germany">Germany</mat-option>
                                  <mat-option value="Nigeria">Nigeria</mat-option>
                                  <mat-option value="China">China</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Marriage Status</mat-label>
                                <mat-select formControlName="marriageStatus">
                                  <mat-option value="Single" selected>Single</mat-option>
                                  <mat-option value="Married">Married</mat-option>
                                  <mat-option value="Divorced">Divorced</mat-option>
                                  <mat-option value="Separated">Separated</mat-option>
                                  <mat-option value="Nothing">Not Selected</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Select Association</mat-label>
                                <mat-select formControlName="associationId">
                                  <mat-option [value]="1">Emaneh</mat-option>
                                  <mat-option [value]="2" >Klub prijatelja</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" align="end">
                            <button mat-flat-button color="primary" type="submit">Save Changes</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col border border-light shadow-sm p-3 mb-5 bg-body rounded ms-2">
            <h4>Change password</h4>
            <form [formGroup]="passwordChange">
                <div class="content">
                    <div class="row" style="align-items: baseline;">
                        <div class="col-3">
                            <p>Current Password:</p>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="outline">
                                <mat-label>Current Password</mat-label>
                                <input matInput type="password" placeholder="Current Passwod" formControlName="currentPassword">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>New Password:</p>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="outline">
                                <mat-label>New Password</mat-label>
                                <input matInput type="password" placeholder="New Password" formControlName="newPassword">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col" align="end">
                            <button mat-stroked-button type="submit">Save Changes</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">payment</mat-icon>
            Payments
          </ng-template>
          <app-member-payments></app-member-payments>
    </mat-tab>
    <!--Family Tab-->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">person_add</mat-icon>
        Family
      </ng-template>
      <app-members-family></app-members-family>
    </mat-tab>
  </mat-tab-group>
  