<div class="row">
    <div class="card" style="border: none;">
        <div class="row">
          <div class="col-sm-6 col-md-3 col-xl-3">
            <div class="card border-info my-2 ms-2 ">
                <mat-card (click) = "checkForPayment(1)">
                    <mat-card-content>Klub Prijatelja</mat-card-content>
                  </mat-card>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-xl-3">
            <div class="card border-warning mt-2">
                <mat-card (click) = "checkForPayment(2)">
                    <mat-card-content>Emaneh</mat-card-content>
                  </mat-card>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-xl-3">
            <div class="card border-left-yellow my-2">
                <mat-card (click) = "checkForPayment(3)">
                    <mat-card-content>Aktivnosti</mat-card-content>
                  </mat-card>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-xl-3">
            <div class="card border-info me-4 mt-2">
                <mat-card (click) = "checkForPayment(4)">
                    <mat-card-content>Ostale uplate</mat-card-content>
                  </mat-card>
            </div>
          </div>
        </div>
      </div>
</div>
    
      
