<div mat-dialog-title>
    <h1>Edit Member</h1>
</div>
<form [formGroup]="editForm">
    <div mat-dialog-content class="content">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" placeholder="First Name" formControlName="firstName">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name" formControlName="lastName">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput type="text" placeholder="Title" formControlName="title">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-radio-group aria-label="Select please:" formControlName="gender">
                    <mat-label>Gender:</mat-label>
                    <mat-radio-button value="Male">Male</mat-radio-button>
                    <mat-radio-button value="Female">Female</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Adress</mat-label>
                    <input matInput placeholder="Adress" formControlName="adress">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Ex. test@gmail.com" formControlName="email">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput type="text" placeholder="+43..." formControlName="phone">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Select Country</mat-label>
                    <mat-select formControlName="country">
                        <mat-option value="Bosnia-Herzegowina" selected>Bosnien-Herzegowina</mat-option>
                        <mat-option value="Croatien">Croatia</mat-option>
                        <mat-option value="Albanien">Albania</mat-option>
                        <mat-option value="Slowenien">Slowenia</mat-option>
                        <mat-option value="Serbien">Serbien</mat-option>
                        <mat-option value="Austria">Austria</mat-option>
                        <mat-option value="Germany">Germany</mat-option>
                        <mat-option value="Nigeria">Nigeria</mat-option>
                        <mat-option value="China">China</mat-option>
                        <mat-option value="Portugal">Portugal</mat-option>
                        <mat-option value="Lithuania">Lithuania</mat-option>
                        <mat-option value="Czech Republic">Czech Republic</mat-option>
                        <mat-option value="Russia">Russia</mat-option>
                        <mat-option value="Hungary">Hungary</mat-option>
                        <mat-option value="South Africa">South Africa</mat-option>
                        <mat-option value="Zimbabwe">Zimbabwe</mat-option>
                        <mat-option value="Norway">Norway</mat-option>
                        <mat-option value="Brazil">Brazil</mat-option>
                        <mat-option value="Japan">Japan</mat-option>
                        <mat-option value="Thailand">Thailand</mat-option>
                        <mat-option value="Sweden">Sweden</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-label>Select Nationality</mat-label>
                    <mat-select formControlName="nationality">
                        <mat-option value="Bosnia-Herzegowina" selected>Bosnien-Herzegowina</mat-option>
                        <mat-option value="Croatien">Croatia</mat-option>
                        <mat-option value="Albanien">Albania</mat-option>
                        <mat-option value="Slowenien">Slowenia</mat-option>
                        <mat-option value="Serbien">Serbien</mat-option>
                        <mat-option value="Austria">Austria</mat-option>
                        <mat-option value="Germany">Germany</mat-option>
                        <mat-option value="Nigeria">Nigeria</mat-option>
                        <mat-option value="China">China</mat-option>
                        <mat-option value="Portugal">Portugal</mat-option>
                        <mat-option value="Lithuania">Lithuania</mat-option>
                        <mat-option value="Czech Republic">Czech Republic</mat-option>
                        <mat-option value="Russia">Russia</mat-option>
                        <mat-option value="Hungary">Hungary</mat-option>
                        <mat-option value="South Africa">South Africa</mat-option>
                        <mat-option value="Zimbabwe">Zimbabwe</mat-option>
                        <mat-option value="Norway">Norway</mat-option>
                        <mat-option value="Brazil">Brazil</mat-option>
                        <mat-option value="Japan">Japan</mat-option>
                        <mat-option value="Thailand">Thailand</mat-option>
                        <mat-option value="Sweden">Sweden</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Marriage Status</mat-label>
                    <mat-select formControlName="marriageStatus">
                        <mat-option value="Single" selected>Single</mat-option>
                        <mat-option value="Married">Married</mat-option>
                        <mat-option value="Divorced">Divorced</mat-option>
                        <mat-option value="Separated">Separated</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-label>Select Association</mat-label>
                    <mat-select formControlName="associationId">
                      <mat-option [value]="1">Emaneh</mat-option>
                      <mat-option [value]="2">Klub prijatelja</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <mat mat-dialog-actions align="end" class="me-5">
        <button mat-stroked-button (click)="closeDialog()">Close</button>
        <button mat-flat-button color="primary" type="submit" (click)="onSubmit()">Save</button>
    </mat>
</form>