<!--Payments-->
<div class="row m-2">
    <div class="col">
        <h4 class="ms-2 payment-title">Payments</h4>
    </div>
</div>
<div class="row m-2">
    <div class="col">
        <mat-expansion-panel *ngFor="let groupKey of getGroupedKeys();" class="mb-2">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Year: {{groupKey}}
                </mat-panel-title>
                <mat-panel-description>
                    Payed
                    <mat-icon class="icon-color">check_circle_outline</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col-3" *ngFor="let item of groupedPayment[groupKey]">
                    <div class="content">
                        <mat-label>{{item.month}}</mat-label>
                        <mat-checkbox checked="isChecked" color="primary" class="example-margin"></mat-checkbox> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button mat-stroked-button class="float-end">Pay All</button>
                    <button mat-flat-button class="float-end me-2" color="primary" type="submit">Save</button>
                </div>
            </div>
        </mat-expansion-panel>
    </div>
</div>
   