<!--Payments-->
<div class="row">
    <div class="col">
        <h4 class="ms-2 payment-title">Membership Payment</h4>
    </div>
</div>
<div class="row m-2">
    <div class="col">
        <mat-expansion-panel *ngFor="let groupKey of getGroupedKeys();" class="mb-2">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Year: {{groupKey}}
                </mat-panel-title>
                <mat-panel-description>
                    Payed
                    <mat-icon class="icon-color">check_circle_outline</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col-3" *ngFor="let item of groupedPayment[groupKey]">
                    <div class="content">
                        <mat-label>{{item.month}}</mat-label>
                        <mat-checkbox checked="isChecked" color="primary" class="example-margin" ></mat-checkbox> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button mat-stroked-button class="float-end">Pay All</button>
                    <button mat-flat-button class="float-end me-2" color="primary" type="submit">Save</button>
                </div>
            </div>
        </mat-expansion-panel>
    </div>
</div>
    <div class="row">
        <div class="col">
            <h4 class="ms-2 payment-title">Mekteb</h4>
        </div>
    </div>
    <div class="row m-2">
        <div class="col">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Year: 2022/2023
                </mat-panel-title>
                <mat-panel-description>
                    Payed
                    <mat-icon class="icon-color">check_circle_outline</mat-icon>
                </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-3">
                        <div class="content">
                            <mat-label>Semestar 1</mat-label>
                            <mat-checkbox class="example-margin">Payed</mat-checkbox> 
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="content">
                            <mat-label>Semestar 2</mat-label>
                            <mat-checkbox class="example-margin">Payed</mat-checkbox> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button mat-stroked-button class="float-end">Pay All</button>
                        <button mat-flat-button class="float-end me-2" color="primary" type="submit">Save</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    </div>
    <div class="row m-2">
        <div class="col">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Year: 2021/2022
                </mat-panel-title>
                <mat-panel-description>
                    Payed
                    <mat-icon class="icon-color">check_circle_outline</mat-icon>
                </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-3">
                        <div class="content">
                            <mat-label>Semestar 1</mat-label>
                            <mat-checkbox class="example-margin">Payed</mat-checkbox> 
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="content">
                            <mat-label>Semestar 2</mat-label>
                            <mat-checkbox class="example-margin">Payed</mat-checkbox> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button mat-stroked-button class="float-end">Pay All</button>
                        <button mat-flat-button class="float-end me-2" color="primary" type="submit">Save</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col">
            <h4 class="ms-2 payment-title">Hifz</h4>
        </div>
    </div>
    <div class="row m-2">
        <div class="col">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Year: 2021/2022
                </mat-panel-title>
                <mat-panel-description>
                    Payed
                    <mat-icon class="icon-color">check_circle_outline</mat-icon>
                </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-3">
                        <div class="content">
                            <mat-label>Semestar 1</mat-label>
                            <mat-checkbox class="example-margin">Payed</mat-checkbox> 
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="content">
                            <mat-label>Semestar 2</mat-label>
                            <mat-checkbox class="example-margin">Payed</mat-checkbox> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button mat-stroked-button class="float-end">Pay All</button>
                        <button mat-flat-button class="float-end me-2" color="primary" type="submit">Save</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col">
            <h4 class="ms-2 payment-title">Arapski jezik</h4>
        </div>
    </div>
    <div class="row m-2">
        <div class="col">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Year: 2021/2022
                </mat-panel-title>
                <mat-panel-description>
                    Payed
                    <mat-icon class="icon-color">check_circle_outline</mat-icon>
                </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-3">
                        <div class="content">
                            <mat-label>Semestar 1</mat-label>
                            <mat-checkbox class="example-margin">Payed</mat-checkbox> 
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="content">
                            <mat-label>Semestar 2</mat-label>
                            <mat-checkbox class="example-margin">Payed</mat-checkbox> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button mat-stroked-button class="float-end">Pay All</button>
                        <button mat-flat-button class="float-end me-2" color="primary" type="submit">Save</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col">
            <h4 class="ms-2 payment-title">Bosanski jezik</h4>
        </div>
    </div>
    <div class="row m-2">
        <div class="col">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Year: 2021/2022
                </mat-panel-title>
                <mat-panel-description>
                    Payed
                    <mat-icon class="icon-color">check_circle_outline</mat-icon>
                </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-3">
                        <div class="content">
                            <mat-label>Semestar 1</mat-label>
                            <mat-checkbox class="example-margin">Payed</mat-checkbox> 
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="content">
                            <mat-label>Semestar 2</mat-label>
                            <mat-checkbox class="example-margin">Payed</mat-checkbox> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button mat-stroked-button class="float-end">Pay All</button>
                        <button mat-flat-button class="float-end me-2" color="primary" type="submit">Save</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col">
            <h4 class="m-2 payment-title">Hor</h4>
        </div>
    </div>
    <div class="row m-2">
        <div class="col">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Year: 2021/2022
                </mat-panel-title>
                <mat-panel-description>
                    Payed
                    <mat-icon class="icon-color">check_circle_outline</mat-icon>
                </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-3">
                        <div class="content">
                            <mat-label>Semestar 1</mat-label>
                            <mat-checkbox class="example-margin">Payed</mat-checkbox> 
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="content">
                            <mat-label>Semestar 2</mat-label>
                            <mat-checkbox class="example-margin">Payed</mat-checkbox> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button mat-stroked-button class="float-end">Pay All</button>
                        <button mat-flat-button class="float-end me-2" color="primary" type="submit">Save</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="ms-2 payment-title">Other Payments</h4>
        </div>
    </div>
    <div class="row m-2">
        <div class="col">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Year: 2023
                </mat-panel-title>
                <mat-panel-description>
                    Ukupno uplata: 16
                </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col">
                        <p>Iznos: 150 EUR</p>
                    </div>
                    <div class="col">
                        <p>Svrha uplate: Ostale uplate</p>
                    </div>
                    <div class="col">
                        <p>Zaprimio: Bakir Malkoc</p>
                    </div>
                    <div class="col">
                        <p>Datum uplate: 12/12/2023 15:35:45</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Uplata 2</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Uplata 3</p>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    </div>
    
