.icon-wrapper {
    width: 54px;
    height: 54px;
    font-size: 45px;
    color: rgb(25, 25, 236);
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 5px;
    align-items: center;
    left: 20;
    background-color: whitesmoke;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.mat-card-header-text{
    width: 100% !important;
  }

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    background-color: white;
}

.align-left {
   margin-right: auto;
}
.align-right {
    margin-left: auto;
}
    
.text-card {
    font-size: 25px;
    width: 100%;
}

.opacity-8
{
    opacity: 0.8;
}

.text-white {
    color: black;
}

.rm-border {
    border-width: 0 !important;
}

.text-left {
    text-align: left !important;
}

.no-shadow {
    box-shadow: 0 0 0 transparent !important;
}

.bg-transparent {
    background: transparent !important;
}


.text-focus {
    color: #6610f2 !important;
}

.widget-chart .widget-numbers {
    font-weight: bold;
    font-size: 2.5rem;
    display: block;
    line-height: 1;
    margin: 1rem auto;
}


.bg-warning {
    background-color: #DD5600 !important;
}

.widget-chart.text-left {
    flex-direction: row;
    align-items: center;
}

.icon-wrapper .icon-wrapper-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    opacity: .2;
}
