<div class="row">
    <div class="card" style="border: none;">
        <div class="row">
          <div class="col-sm-6 col-md-3 col-xl-3">
            <div class="card" style="margin:15px; border-left: 4px solid blue;">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>
                    <mat-icon class="icon-wrapper align-left">attach_money</mat-icon>
                    <span class="text-card">150.000</span>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>Revenue</p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-xl-3">
            <div class="card" style="margin:15px; border-left: 4px solid red;">
              <mat-card class="example-card">
                  <mat-card-header class="card-header">
                    <mat-card-title class="align-left">
                      <mat-icon class="icon-wrapper">
                        supervisor_account
                      </mat-icon>
                    </mat-card-title>
                    <mat-card-title class="align-right">
                      <span class="text-card">138</span> 
                    </mat-card-title>
                  </mat-card-header>
                <mat-card-content>
                  <p>Active Users</p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-xl-3">
            <div class="card" style="margin:15px; border-left: 4px solid rgb(64, 206, 51);">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>
                    <mat-icon class="icon-wrapper">attach_money</mat-icon>
                     <span class="text-card">15.000</span>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <span>Earnings monthly</span>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-xl-3">
            <div class="card" style="margin:15px; border-left: 4px solid yellow;">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>
                    <mat-icon class="icon-wrapper">settings</mat-icon>
                    <span class="text-card">Account updated</span>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>Settings</p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
</div>
    
      
