<div class="row">
    <div class="card" style="border: none;">
        <div class="row">
          <div class="col-sm-6 col-md-3 col-xl-3">
            <div class="card border-left-blue ms-2">
              <mat-card class="card-mystyle">
                <mat-card-header class="col">
                  <mat-card-title class="row">
                    <span class="text-card">150.000</span>
                    <p class="header-card-description">Revenue</p>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-icon-style">
                  <div class="container" style="width: 100%;">
                    <mat-icon class="icon-wrapper align-left">attach_money</mat-icon>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-xl-3">
            <div class="card border-left-green">
              <mat-card class="card-mystyle">
                <mat-card-header class="col">
                  <mat-card-title class="row">
                    <span class="text-card">3.000</span>
                    <p class="header-card-description">Earning monthly</p>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-icon-style">
                  <div class="container" style="width: 100%;">
                    <mat-icon class="icon-wrapper align-left">attach_money</mat-icon>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-xl-3">
            <div class="card border-left-yellow">
              <mat-card class="card-mystyle">
                <mat-card-header class="col">
                  <mat-card-title class="row">
                    <span class="text-card">154</span>
                    <p class="header-card-description">Members</p>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-icon-style">
                  <div class="container" style="width: 100%;">
                    <mat-icon class="icon-wrapper align-left">supervisor_account</mat-icon>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-xl-3">
            <div class="card border-left-blue me-4">
              <mat-card class="card-mystyle">
                <mat-card-header class="col">
                  <mat-card-title class="row">
                    <span class="text-card">Account updated</span>
                    <p class="header-card-description">Settings</p>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-icon-style">
                  <div class="container" style="width: 100%;">
                    <mat-icon class="icon-wrapper align-left">settings</mat-icon>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
</div>
    
      
