<div class="row mt-2 mb-2 ms-2 me-2">
    <div class="col">
        <h4>Family Members</h4>
    </div> 
</div>
<div class="row mt-2 mb-2 ms-2 me-2">
    <div class="col shadow-sm ms-2">
        <p class="m-0">Partner:</p>
        <mat-list role="list">
            <div class="row">
                <div class="col">
                    <mat-list-item role="listitem">Alma Mujic</mat-list-item>
                </div>
                <div class="col">
                    <a mat-stroked-button routerLink = "/member-details/1">Info</a>
                </div>
            </div>
        </mat-list>
    </div>
    <div class="col shadow-sm ps-0">
        <p class="m-0">Childrens:</p>
        <mat-list role="list">
            <div class="row">
                <div class="col">
                    <mat-list-item role="listitem">Mujo Mujic</mat-list-item>
                </div>
                <div class="col">
                    <a mat-stroked-button routerLink = "/member-details/1">Info</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-list-item role="listitem">Mujo Mujic</mat-list-item>
                </div>
                <div class="col">
                     <a mat-stroked-button routerLink = "/member-details/1">Info</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-list-item role="listitem">Mujo Mujic</mat-list-item>
                </div>
                <div class="col">
                     <a mat-stroked-button routerLink = "/member-details/1">Info</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-list-item role="listitem">Haso Husic</mat-list-item>
                </div>
                <div class="col">
                     <a mat-stroked-button routerLink = "/member-details/1">Info</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-list-item role="listitem">Sinbad Ibrahimovic</mat-list-item>
                </div>
                <div class="col">
                    <button mat-stroked-button type="submit">Info</button>
                </div>
            </div>
        </mat-list>
    </div>
    <div class="col shadow-sm">
        <p class="m-0">Parents:</p>
        <mat-list role="list">
            <div class="row">
                <div class="col">
                    <mat-list-item role="listitem">Mujo Mujic</mat-list-item>
                </div>
                <div class="col">
                    <button mat-stroked-button type="submit">Info</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-list-item role="listitem">Haso Husic</mat-list-item>
                </div>
                <div class="col">
                    <button mat-stroked-button type="submit">Info</button>
                </div>
            </div>
        </mat-list>
    </div>
  </div>